/* COMMON */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DINRoundPro-Medi", "sans-serif";
}

.uppercase {
  text-transform: uppercase;
}

.active {
  color: #1cb0f6 !important;
}

/* HEADING */
.header {
  height: 70px;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  background-color: #fff;
}

/* START MENU */
.header .header__menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.header .menu--lesson {
  display: flex;
}

.header .menu--skill {
  display: flex;
}

.header__menu .menu__item {
  margin: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
}

.header__menu img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.header__menu .item--label {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
}

/* .header__menu .menu__item:hover > img {
  width: 40px;
  transition: linear 0.1s;
} */

.header__menu .extra-menu:hover .sub-menu {
  display: block;
  transform-origin: top;
  animation: subMenuDisplay 0.3s ease;
}

@keyframes subMenuDisplay {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.header__menu .menu__item:hover .item--label {
  color: rgba(0, 0, 0, 0.6);
  transition: ease 0.2s;
}
/* END MENU */

/* START SUB-MENU */
.header__menu .extra-menu {
  position: relative;
}

.header__menu .sub-menu {
  position: absolute;
  top: 90%;
  left: -96%;
  width: 240px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  display: none;
}

.header__menu .sub-menu::before {
  content: "";
  position: absolute;
  top: -23px;
  right: 46%;
  border: 11px solid;
  border-color: transparent transparent #e5e5e5 transparent;
}

.sub-menu .sub-menu__item {
  padding: 8px 20px;
  display: block;
  text-decoration: none;
  color: #000000;
}

.sub-menu .sub-menu__item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: all linear 0.2s;
}

.sub-menu .sub-menu__item:not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.sub-menu__item .item__content {
  display: flex;
  align-items: center;
}

.sub-menu__item .item__icon,
.item__name {
  display: inline-block;
}

.sub-menu__item .item__icon {
  padding-right: 20px;
}

/* END SUB-MENU */

/* START MAIN */
.container .main {
  margin: 70px auto 0;
  max-width: 760px;
}

.main .main__heading {
  padding-top: 70px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.main__heading .heading__desc {
  margin-top: 25px;
  font-size: 19px;
}

.main .main__content {
  /* width: 100%; */
  padding-bottom: 70px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.main__content .content__block {
  margin-top: 40px;
}

.main__content .block--separation {
  display: flex;
  align-items: center;
}

.block--separation p {
  padding: 0 10px;
  color: #aaa;
  font-weight: 600;
  font-size: 20px;
}

.block--separation .separation {
  flex-grow: 1;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

/* BLOCK ITEM */
.main__content .block__item {
  margin: 40px 26px;
  text-align: center;
}

.block__item .content__item {
  display: inline-block;
  text-align: center;
  font-weight: 600;
  width: 130px;
  cursor: pointer;
  /* margin: 22px 22px; */
}

.block__item .item--picture {
  text-align: center;
}

.block__item .item--title {
  margin-top: 22px;
}

.block__item .item--score {
  margin-top: 11px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}

/* FOOTER */
.footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.footer .footer__item {
  display: inline-block;
  margin: 50px 24px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  font-size: 14px;
}

.footer .footer__item:hover {
  color: rgba(0, 0, 0, 0.7);
  transition: ease 0.2s;
}
